<div class="conteiner">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title class="card-header">Editar Conta</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="container column" >
        <mat-dialog-content [formGroup]="contaForm" (ngSubmit)="onSubmit()">
          <div class="item item-4">
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input  matInput placeholder="Nome do usuário" type="text" formControlName="usernameConta" class="form-control"/>
              <mat-error *ngIf="usernameConta.errors">Please, type a valid name</mat-error>
            </mat-form-field>
          </div>          
        <div class="item item-4">
          <mat-form-field appearance="outline">
            <mat-label>Número Conta</mat-label>
            <input  matInput type="number" formControlName="numeroConta" class="form-control"/>
            <mat-error *ngIf="numeroConta.errors">Please, type a valid name</mat-error>
          </mat-form-field>
        </div>
        <div class="item item-4">
          <mat-form-field appearance="outline">
            <mat-label>Valor de Abertura</mat-label>
            <input matInput placeholder="Valor de Abertura da Conta" type="text" formControlName="saldoConta">
            <mat-error *ngIf="saldoConta.errors">Please, type a valid description</mat-error>
          </mat-form-field>
        </div>
        <div class="item item-4">
          <mat-form-field appearance="outline">
            <mat-label>Limite Inicial</mat-label>
            <input matInput placeholder="Limite Inical da Conta" type="number" formControlName="limiteConta">
            <mat-error *ngIf="limiteConta.errors">Please, type a valid limite</mat-error>
          </mat-form-field>
        </div>
        <div class="item item-4">
          <mat-form-field appearance="outline">
            <mat-label>Tipo Conta</mat-label>
            <input matInput placeholder="Limite Inical da Conta" type="text" formControlName="tipoConta">
            <mat-error *ngIf="tipoConta.errors">Please, type a valid limite</mat-error>
          </mat-form-field>
        </div>
        <div class="item-buttons">
          <button mat-button class="style-button" [disabled]="!contaForm.valid" (click)="onSubmit()">Save</button>
            <span class="spacer"></span>
          <button mat-button class="style-button" (click)="onNoClick()" tabindex="-1">Cancel</button>
        </div>
      </mat-dialog-content>
      </div>
      
    </mat-card-content>
  </mat-card>

</div>